  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h3 class="text-center">新規登録</h3>

       <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%#= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label :クリエイター名, class:"col-3 col-form-label" %>
          <div class="col-8">
            <%= f.text_field :name, autofocus: true, class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :メールアドレス, class:"col-3 col-form-label" %>
          <div class="col-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :"パスワード(6文字以上)", class:"col-3 col-form-label" %>
          <div class="col-4">
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :"パスワード(確認用)", class:"col-3 col-form-label" %>
          <div class="col-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>
        </div>

      <div class="modal-footer">
          <%= f.submit "新規登録", class:"btn btn-success px-5" %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>