<div class="comments">
  <% post.comments.each do |comment| %>
  <% post_comment_user = comment.user %>
  <%= attachment_image_tag post_comment_user, :image, format: 'jpg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %>
  <%= comment.content %>
  <% if comment.user == current_user %>
  <%= link_to '削除', post_comment_path(post, comment), data: {confirm: '本当に削除しますか？'}, method: :delete %>
  <% end %>
  <br>
  <% end %>
</div>

<%= link_to  "コメントする", new_post_comment_path(post, user), remote: true, class: "btn btn-outline-secondary" %>