<div class="comments">
  <% post.comments.each do |comment| %>
  <br>
  <%= comment.content %>
  <br>
  
  <% post_comment_user = comment.user %>
    <%= link_to user_path(comment.user), remote: true do %>
      <%= attachment_image_tag post_comment_user, :image, format: 'jpg', size: "50x50", fallback: "no_image.png", class: "rounded-circle" %>
    <% end %>
    <%=  comment.created_at.strftime('%Y/%m/%d %H:%M') %>
  <% if comment.user == current_user %>
    <%= link_to '削除', post_comment_path(post, comment), data: {confirm: '本当に削除しますか？'}, method: :delete, remote: true %>
  <% end %>
  
  
  <% end %>
  
  <% if post.comments.blank? %>
   <h3>コメントはまだありません</h3>
  <% end  %>
</div>

<%= link_to  "コメントする", new_post_comment_path(post, user), remote: true, class: "btn btn-outline-secondary" %>