  <% users.each do |user| %>
  <tr>
    <%= link_to user_path(user), remote: true do %>
    <span data-dismiss="modal">
      <td><%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no_image.png", size: "50x50", class: "rounded-circle" %></td>
    </span>
    <% end %>
    <td><%= user.name %></td>
    <td>フォロー数：<%= user.followings.count %></td>
    <td>フォロワー数：<%= user.followers.count %></td>
  </tr>
  <br>
  <% end %>
  </tbody>
  </table>