<div class="topPage">

  <div id="tinderslide">
    <ul>
      <% @users.each do |user| %>
        <li data-user_id="<%= user.id %>">
          <div class="userName"><%= user.name %></div>
          <div class="userName"><%= user.skill %></div>
          <div class="userName"><%= user. %></div>
          <%#= image_tag user.image %>
          <%= attachment_image_tag user, :image, format: 'jpeg', size: "500x500", class: "rounded-circle" %>

          <div class="like"></div>
          <div class="dislike"></div>
        </li>
      <% end %>
    </ul>
    <div class="noUser">近くにお相手がいません。</div>
  </div>
  <div class="actions" id="actionBtnArea">
      <a href="#" class="dislike"><i class="fas fa-times fa-2x"></i></a>
      <a href="#" class="like"><i class="fas fa-heart fa-2x"></i></a>
  </div>
</div>
<script>
  $("#tinderslide").jTinder();
  $('.actions .like, .actions .dislike').click(function(e){
  	e.preventDefault();
  	$("#tinderslide").jTinder($(this).attr('class'));
  });
</script>