<div class="row">
  <% if my_like.exists? %>
   <% my_like.each do |post| %>
    <div class="col-3">
    
      <% if @user.image.nil? %>
        <div class ="profile_image">
          <i class="far fa-smile"></i>
        </div>
       <% else %>
          <div class ="profile_image">
            <%= attachment_image_tag @user, :image, format: 'jpeg', size: "100x100", class: "rounded-circle" %>
          </div>
       <% end %>
    
      <p><%= post.post.title %></p>
      <p>いいね件数: <%= post.post.likes.count %></p>
      <p><%= link_to "#{post.post.comments.count} コメント", post_path(post.id) %></p>
      <% post.post.tags.each do |tag| %>
      <p><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></p>
      <% end %>
    </div>
   <% end %>
  <% else %>
  <div class="col-12 no_text">
    <h2>
      興味のある活動はまだありません
    </h2>
  </div>
  <% end %>
</div>