<div class="row">
  <% if my_like.exists? %>
   <% my_like.each do |post| %>
    <div class="col-3">

    <div class ="profile_image">
       <%= link_to user_path(post.post.user), remote: true do %>
         <%= attachment_image_tag post.post.user, :image, format: 'jpg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
       <% end %>
    </div>

      <%= link_to post_path(post.post), remote: true do %>
        <p><%= post.post.title %></p>
      <% end %>
      
   <% end %>
      <p><%= link_to "#{post.post.comments.count} コメント", post_path(post.id) %></p>
      <% post.post.tags.each do |tag| %>
      <p><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></p>
      <% end %>
    </div>
   <% end %>
  <% else %>
  <div class="col-12 no_text">
    <h2>
      興味のある活動はまだありません
    </h2>
  </div>
  <% end %>
</div>