<div class="col-5">
          <div class ="profile_image">
            <%= attachment_image_tag @user, :image, format: 'jpeg', size: "100x100", class: "rounded-circle", fallback: "no_image.png" %>
          </div>

        <h3><%= @user.name %></h3>


          <div class="follow_count">
            <%= render "relationships/follow_count" , user: @user %>
          </div>

        <span>
          <div>
            <% unless current_user == @user %>
              <%= form_tag :chat_index, method: :post do %>
                <input name="user_id" type="hidden" value="<%= @user.id %>" />
                <%= submit_tag 'チャットを開く', class: 'btn btn-outline-info' %>
              <% end %>
            <% end  %>
          </div>
        </span>

         <span>
          <div>
            <%= render 'relationships/follow_button', user: @user %>
          </div>
         </span>

        <% if @user == current_user %>

         <span>
           <div class="mouse">
            <%= link_to  rooms_path(@user), remote: true do %>
              <i class="far fa-envelope fa-2x"></i>
            <% end %>
            <span class="word">メッセージ中</span>
          </div>
        </span>

        <span>
          <div class="mouse">
          　<%= link_to(content_tag(:i, "", class: 'fas fa-2x fa-comments'), matching_index_path) %>
          　<span class="word">マッチング一覧</span>
          </div>
        </span>

        <span>
          <div class="mouse">
            <%= link_to edit_user_path(@user), remote: true do %>
              <i class="fas fa-user-cog fa-2x"></i>
            <% end %>
            <span class="word">編集する</span>
          </div>
        </span>

       <% end %>
</div>


<div class="col-7">

  <h2>自己紹介</h2>
    <div class="form-group">
      <h5> <%= simple_format @user.introduction %> </h5>
    </div>

    <div class="form-group">
      <h5>作業場所へのリンクはこちら↓↓</h5>
        <% if @user.link.nil? %>
          <div class="form-group">
            <h5> <%= @user.link %> </h5>
          </div>
        <% else %>
          <div class="form-group">
            <h5> <%= Rinku.auto_link(@user.link, :all, 'target="_blank"').html_safe %> </h5>
          </div>
        <% end %>
    </div>

</div>