<div class="container">

  <% if @searchs == "1"%>
    <h1>クリエイター
      <small>の検索結果</small>
    </h1>
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-3">
          <p>
            <%= link_to user_path(user), remote: true do %>
              <%= attachment_image_tag user, :image, format: 'jpeg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
            <% end %>
          </p>
          <p><%= user.name %></p>
          <p><%= user.skill %></p>
        </div>
      <% end %>
    <% if @users.blank? %>
      <div class="col-12 no_text">
        <h2>
          該当しませんでした
        </h2>
      </div>
      <% end %>
    </div>

  <% elsif @searchs == "2" %>
    <h1>活動実績
      <small>の検索結果</small>
    </h1>
      <div class="top-memo">
        <% @posts.each do |post| %>
          <div class="memox">
            <h3>
              <%= link_to post_path(post.id), remote: true do %>
                <% post.title.truncate(20) %>
              <% end %>
            </h3>
            <i class="fas fa-heart like-btn"></i><%= post.likes.count %>
            <i class="far fa-eye"></i><%= post.impressions_count %>
            <span><%= link_to "#{post.comments.count} コメント", post_path(post),remote: true %></span>
            <p>活動内容：
              <%= post.product.truncate(30) %>
            </p>
            <p>使用SKILL：
              <%= post.skill.truncate(30) %>
            </p>
            <p>
              <%= link_to user_path(post.user), remote: true do %>
                <%= attachment_image_tag post.user, :image, format: 'jpg', size: "30x30", fallback: "no_image.png", class: "rounded-circle" %>
                <%= post.user.name %>
              <% end %>
            </p>
            <% post.tags.each do |tag| %>
              <i class="fas fa-tags"></i>
              <%= link_to tag.tag_name, posts_path(tag_id: tag.id), class: "btn btn-outline-secondary" %>
            <% end %>
          </div>
        <% end %>

        <% if @posts.blank? %>
          <div class="col-12 no_text">
            <h2>
              該当しませんでした
            </h2>
          </div>
        <% end %>
      </div>

  <% elsif @searchs == "3" %>
  <h1>タグ
    <small>の検索結果</small>
  </h1>
  <div class="row">
    <% @tags.each do |list| %>
    <div class="col-auto">
      <%= link_to posts_path(tag_id: list.id), class: 'btn btn-outline-info', remote: true do %>
        <%= list.tag_name %>(<%= list.posts.count %>)
      <% end %>
    </div>
    <% end %>

    <% if @tags.blank? %>
      <div class="col-12 no_text">
      <h2>
        該当しませんでした
      </h2>
    </div>
    <% end %>

  </div>

  <% elsif @searchs == "4" %>
    <h1>企画
      <small>の検索結果</small>
    </h1>

  <div class = "top_board">
    <div id="slider">
      <% @boards.each do |board| %>
        <div class="boards">
          <% if board.user == current_user %>
            <h3>タイトル
              <%= link_to edit_board_path(board), remote: true do %>
                <i class="far fa-edit"></i>
              <% end %>
            <%= link_to board_path(board), method: :delete, data: { confirm: '本当に消しますか？' } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% else %>
            <h3>タイトル<h3>
          <% end %>
      </h3>
      <p><%= board.title.truncate(25) %></p>

      <h3>企画内容</h3>
      <p><%= board.essential.truncate(25) %></p>
      <%= link_to "詳 細 へ→→→", board_path(board), remote: true %>
      <div class="mt-3">
        by <%= board.user.name %>
      </div>
    </div>
  <% end %>
    </div>

  <% if @boards.blank? %>
      <div class="col-12 no_text">
      <h2>
        該当しませんでした
      </h2>
    </div>
  <% end %>


</div>
<% end %>
</div>