<div class="container">
  <div class="row text-center">
    <div class="col">

      <div class="row my_introduction">
         <%= render "users/my_introduction" %>
      </div>
      <hr>


      <div class="row my-5">
        <div class="col">
          <%= link_to "MYポートフォリオ", mypost_path(@user), remote: true, class: 'btn btn-nav2' %>
        </div>
        <div class="col">
          <%= link_to "お気に入りポートフォリオ", mylike_path(@user), remote: true, class: 'btn btn-nav2' %>
        </div>
      </div>




     <% if @my_post.present? %>
       <div class="my_area">
        <%= render "users/mypost", my_post: @my_post %>
       </div>
     <% else %>
       <div class="my_area">
        <%= render "users/mylike" , my_like: @my_like %>
      </div>
     <% end %>




    </div>
  </div>
</div>