<div class="container">

  <% if @searchs == "1"%>
  <h1>クリエイター
    <small>の検索結果</small>
  </h1>
  <div class="row">
    <% @users.each do |user| %>
    <div class="col-3">
      <p>
        <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :image, format: 'jpeg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
        <% end %>
      </p>
      <p><%= user.name %></p>
      <p><%= user.skill %></p>
    </div>
    <% end %>
  </div>

  <% elsif @searchs == "2" %>
  <h1>投稿作品
    <small>の検索結果</small>
  </h1>
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-3">
      <p>
        <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, format: 'jpeg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
        <% end %>
      </p>
      <p><%= post.title %></p>
      <p><%= post.user.name %></p>
    </div>
    <% end %>
  </div>


  <% elsif @searchs == "3" %>
  <h1>タグ
    <small>の検索結果</small>
  </h1>
  <div class="row">
    <% @tags.each do |tag| %>
    <div class="col-auto">
      <%= link_to posts_path(tag_id: tag.id), class: "btn btn-secondary" do %>
      <% tag.tag_name %>
      <% end %>
    </div>
    <% end %>
  </div>

  <% elsif @searchs == "4" %>
  <h1>掲示板の
    <small>の検索結果</small>
  </h1>
  <div class="row">
    <% @boards.each do |board| %>
    <div class="col-auto">
      <%= link_to board_path(board), class: "btn btn-secondary" do %>
      <% board.title %>
      <% end %>
    </div>
    <% end %>
  </div>

  <% else %>
  該当しませんでした!!!!
  <% end %>

</div>