<div class="container">
  <div class="row text-center">
    <div class="col">

      <div class="row">
        <div class="col">
          <%= attachment_image_tag @user, :image, format: 'jpeg', size: "200x180", fallback:"no_image.png", class: "rounded-circle" %>
        </div>

        <div class="col">

          <div class="form-group">
            <h5> <%= @user.introduction %> </h5>
          </div>

          <div class="form-group">
            <h5> <%= @user.skill %> </h5>
          </div>

          <% if @user.link.nil? %>
          <div class="form-group">
            <h5> <%= @user.link %> </h5>
          </div>
          <% else %>
          <div class="form-group">
            <h5> <%= Rinku.auto_link(@user.link, :all, 'target="_blank"').html_safe %> </h5>
          </div>
          <% end %>

          <div class="follow_count">
            <%= render "relationships/follow_count" , user: @user %>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <h2> <%= @user.name %> </h2>
          </div>

          <div>
            <%= render 'rooms/room_button', user: @user, isRoom: @isRoom,  roomId: @roomId, room: @room, entry: @entry %>
          </div>

          <div>
            <%= render 'relationships/follow_button', user: @user %>
          </div>

          <% if @user == current_user %>
          <%= link_to "アトリエを改造する", edit_user_path(@user), class: "btn btn-success", remote: true %>
          <% end %>
        </div>
      </div>
      <hr>


      <div class="row my-5">
        <div class="col">
          <%= link_to "MYポートフォリオ", mypost_path(@user), remote: true %>
        </div>
        <div class="col">
          <%= link_to "お気に入りポートフォリオ", mypost_path(@user), remote: true %>
        </div>
      </div>

      <% if @my_post.exists? %>
      <div class=" my_post">
        <%= render "users/mypost", my_post: @my_post %>
      </div>
      <% elsif %>
      <div class=" ??">
        <%#= render "users/mypost" , my_post: @my_post %>
      </div>
      <% end %>


    </div>
  </div>
</div>