<div class="container">

  <div class="row">
    <div class="board">
      <%= render 'boards/board', boards: @boards %>
    </div>
  </div>
      <%= paginate @boards, remote: true %>

  <div class="row my-5">
    <div class="col">
      <%= link_to "人気の活動実績一覧↓↓", popular_path, remote: true, class: 'btn btn-nav' %>
    </div>
    <div class="col">
      <%= link_to "新着の活動実績↓↓", pickup_path, remote: true, class: 'btn btn-nav' %>
    </div>
    <div class="col">
      <%= link_to "話題のクリエイター↓↓", users_path, remote: true, class: 'btn btn-nav' %>
    </div>
  </div>

  <% if @popular.present? %>
    <div class="top_area">
      <%= render "posts/popular", popular: @popular %>
    </div>
  <% elsif  @pickup.present? %>
    <div class="top_area">
      <%= render "posts/pickup" , pickup: @pickup %>
    </div>
  <% else %>
    <div class="top_area">
      <%= render "users/index" , users: @users %>
    </div>
  <% end %>

</div>