       <div class="container">

         <div class="row-auto">


           <div class="board">
             <%= render 'boards/board', boards: @boards %>
           </div>

           <h1 class="my-5">新着作品</h1>
           <div class=" row">
             <% @active_posts.each.with_index(1) do |post| %>
             <div class="col-3">
               <p>
                 <%= link_to user_path(post.user), remote: true do %>
                 <%= attachment_image_tag post.user, :image, format: 'jpg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
                 <% end %>
               </p>

               <p>
                 <%= link_to post_path(post.id), remote: true do %>
                 <% post.title %>
                 <% end %>
               </p>

               <p>クリエイター名：<%= post.user.name %></p>
               <p> いいね数：<%= post.likes.count %></p>
               <p> PV数：<%= post.impressions_count %></p>
             </div>
             <% end %>
           </div>
         </div>

       </div>