 <div class="box1">
   <table style="border:none;">

     <h1>掲示板
       <% if user_signed_in? %>
       <%= link_to "記入する", new_board_path(current_user), remote: true, class: "btn btn-primary" %>
       <% end %>
     </h1>

     <thead>
       <tr>
         <th style=" width:10%;">タイトル</th>
         <th style="width:10%;">投稿者</th>
         <th style="width:40%;">募集要項</th>
         <th style="width:20%;"></th>
       </tr>
     </thead>
     <tbody>
       <% boards.each do |board| %> <tr>
         <td><%= board.title %></td>
         <td><%= board.user.name %></td>
         <td><%= board.essential.truncate(15) %></td>
         <td class="text-center">
           <%= link_to "詳 細 へ", board_path(board),remote: true, class:"btn btn-info" %>
           <% if board.user == current_user %>
           <%= link_to "編集する", edit_board_path(board), class:"btn btn-success" %>
           <%= link_to "削除する", board_path(board), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
           <% end %>
         </td>
       </tr>
       <% end %>
     </tbody>
   </table>
   <%= paginate boards %>
 </div>
 </div>