<h1>パートナー募集！
  <% if user_signed_in? %>
    <%= link_to "記入する", new_board_path(current_user), remote: true, class: "btn btn-primary" %>
  <% end %>
</h1>
 
<div class="row">
  <% @boards.each do |board| %>
    <div class="col-3 boards">
      <p><%= board.title %></p>
      <p><%= board.user.name %></p>
      <p><%= board.essential.truncate(15) %></p>
      <%= link_to "詳 細 へ", board_path(board), remote: true, class: 'btn btn-nav2' %>
    <% if board.user == current_user %>
      <%= link_to "編集する", edit_board_path(board), remote: true, class: 'btn btn-nav3' %>
      <%= link_to "削除する", board_path(board), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-nav4' %>
   <% end %>
    </div>
  <% end %>
</div>
    <%= paginate @boards, :remote => true %>