<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">内容編集</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <%= form_with model: @board, remote: true do |f| %>

    <div class="modal-body">

      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :essential, "募集要項" %>
        <%= f.text_area :essential, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :requirement, "求める条件" %>
        <%= f.text_field :requirement, class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :address, "連絡先" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

    </div>

    <div class="modal-footer">
      <%= f.submit "投稿する", class:"btn btn-success" %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    <% end %>

  </div>
</div>