<div class="modal-dialog modal-xl">
  <div class="modal-content board_show">
    <h1 class="text-center">募集詳細</h1>
    <hr>

    <div class="board_content">
      <h3>【タイトル】</h3>
      <p><%= @board.title %></p>
    </div>

    <div class="board_content">
      <h3>【投稿者】</h3>
      <%= link_to user_path(@board.user), remote: true do %>
       <p data-dismiss="modal">
      <%= @board.user.name %>
      </p>
      <% end %>
    </div>

    <div class="board_content">
      <h3>【企画内容】</h3>
      <p><%= simple_format @board.essential %></p>
    </div>

    <div class="board_content">
      <h3>【求める条件】</h3>
      <p><%= simple_format @board.requirement %></p>
    </div>

    <div class="board_content">
      <h3>【連絡先】</h3>
      <p><%= @board.address %></p>
    </div>

    <div class="modal-footer">
      <% if @board.user == current_user %>
      <%= link_to "編集する", edit_board_path(@board), remote: true, class:"btn btn-success" %>
      <%= link_to "削除する", board_path(@board), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger destroy_board_#{@board.id}"%>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>