<div class="form-area">
  <%= form_with model: @board, local: true do |f| %>
  <div class="post-form">

    <p>タイトル</p>
    <%= f.text_field :title %>

    <p>募集要項</p>
    <%= f.text_area :essential %>

    <p>求める条件</p>
    <%= f.text_field :requirement %>

    <p>連絡先</p>
    <%= f.text_field :address %>

    <div class="post-btn">
      <%= f.submit "投稿する", class:"btn btn-success" %>
    </div>

    <% end %>
  </div>