<div class="container">

  <h1>DM</h1>


  <h4>参加者</h4>
  <% @entries.each do |e| %>
  <%= link_to user_path(e.user.id) do %>
  <%= e.user.name %>さん
  <% end %>
  <% end %>

  <hr>

  <div class="room_message">
    <%= render "rooms/message", messages: @messages %>
  </div>


  <%= form_with model: @message, remote: true do |f| %>
  <%= f.text_field :message, :placeholder => "メッセージを入力して下さい" , :size => 50 %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <br>
  <%= f.submit "投稿する" %>
  <% end %>

  <%= link_to "ユーザー詳細に戻る", user_path %>


</div>