 <h2>作品詳細</h2>

        <% if post.image.nil? %>
        <% else %>
          <%= attachment_image_tag post, :image, format: 'jpeg', size: "300x200", fallback:"no_image.post.jpg" %>
        <% end  %>

        <div class="form-group">
          <h5>作品名 <p class="ml-5"><%= post.title %></p>
        </div>

        <div class="form-group">
          <h5>投稿者 <p class="ml-5">
            <%= link_to user_path(post.user), remote: true do %>
            <%= post.user.name %>
            <% end  %>
            </p>
        </div>

        <div class="form-group">
          <h5>活動内容 <p class="ml-5"><%= simple_format post.product %></p>
          </h5>
        </div>

         <div class="form-group">
          <h5>使用しているスキル <p class="ml-5"><%= simple_format post.skill %></p>
          </h5>
        </div>


        <div class="form-group">
          <h5>リンク↓↓
            <% if post.link.nil? %>
            <div class="form-group">
              <h5> <%= post.link %> </h5>
            </div>
            <% else %>
            <div class="form-group">
              <h5> <%= Rinku.auto_link(post.link, :all, 'target="_blank"').html_safe %> </h5>
            </div>
          <% end %>
         </div>


        <div>
          <% if post.user == current_user %>
          <%= link_to "編集する", edit_post_path(post), class: 'btn btn-nav4', remote: true %>
          <%= link_to "削除する", post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-nav3 destroy_post_#{post.id}'%>
          <% end %>
        </div>