<div class="container">
  <h4 class="my-3">タグリスト</h4>
  <div class="row">

    <% @tag_list.each do |list| %>
    <div class="col-auto">
      <p><%= link_to posts_path(tag_id: list.id), class: 'btn btn-outline-info', remote: true do %>
        <%= list.tag_name %>(<%= list.posts.count %>)
        <% end %>
      </p>
    </div>
    <% end %>

  </div>

  <h4 class="my-3"><span style="font-size:150%;"><%= @tag.tag_name %></span> の検索結果</h4>

  <div class="top-memo">
    <% @posts.each do |post| %>
      <div class="memox">
      <h3>
        <%= link_to post_path(post.id), remote: true do %>
         <% post.title.truncate(20) %>
        <% end %>
      </h3>
        <i class="fas fa-heart like-btn"></i><%= post.likes.count %>
        <i class="far fa-eye"></i><%= post.impressions_count %>
      <p>活動内容：
        <%= post.product.truncate(30) %>
      </p>

      <p>使用SKILL：
        <%= post.skill.truncate(30) %>
      </p>

      <p>By
        <%= link_to user_path(post.user), remote: true do %>
        <%= post.user.name.truncate(20) %>
        <% end %>
      </p>

      <i class="fas fa-tags"></i>
      <% post.tags.each do |tag| %>
        <%= link_to tag.tag_name, posts_path(tag_id: tag.id), class: "btn btn-outline-secondary", remote: true %>
      <% end %>

    </div>
  <% end %>
</div>



</div>