<div class="row">
  <% @pickup.each do |post| %>
    <div class="col-4">
      <p>
        <%= link_to post_path(post.id), remote: true do %>
        <% post.title %>
        <% end %>
      </p>
        <i class="fas fa-heart like-btn"></i><%= post.likes.count %>
        <i class="far fa-eye"></i><%= post.impressions_count %>
      <p>クリエイター名：
        <%= link_to user_path(post.user), remote: true do %>
        <%= post.user.name %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>