<div class="row">
  <% @popular.each.with_index(1) do |post, i| %>
    <div class="frame">
      <span class="title-frame">
        <span><h3>第<%= i %>位</h3></span>
        <%= link_to post_path(post.id), remote: true do %>
        <% post.title.truncate(10) %>
        <% end %>
      </span>
      
        内容:<%= post.product.truncate(20)  %>
      </p>
      <p>
        SKILL:<%= post.skill.truncate(20) %>
      </p>
      <p>
        いいね件数:<%= post.likes.count %>
      </p>
    </div>
  <% end %>
</div>