<div class="row">
  <% @popular.each.with_index(1) do |post, i| %>
    <div class="frame">
      <span class="title-frame">
        <span><h3>No.<%= i %></h3></span>
        <%= link_to post_path(post.id), remote: true do %>
        <% post.title %>
        <% end %>
      </span>

      <p>
        クリエイター名:
        <%= link_to user_path(post.user), remote: true do %>
        <%= post.user.name %>
        <% end %>
      </p>
      <p>
        活動内容:<%= post.product  %>
      </p>
      <p>
        使用したSKILL:<%= post.skill %>
      </p>
      <p>
        いいね件数:<%= post.likes.count %>
      </p>
    </div>
  <% end %>
</div>