<div class="container mt-5">
  <div class="row">
    <h4>投稿一覧</h4>
  </div>
  <div class="container">
    <% @posts.each do |post| %>
    <div class="col-sm-3">
      <div>
        <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, format: 'jpeg', size: "200x125", fallback:"no_image.post.jpg" %> <br>
        <% end %>
      </div>
      <p class="mt-3"><%= post.title %></p>
      <p>いいね件数: <%= post.likes.count %></p>
      <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
      <% post.tags.each do |tag| %>
      <p><%= link_to tag.tag_name, posts_path(tag_id: tag.id) %></p>
      <% end %>
      <% end %>

      <p>タグリスト</p>
      <% @tag_list.each do |list| %>
      <p><%=link_to list.tag_name,posts_path(tag_id:list.id)%><%= list.posts.count %></p>
      <% end %>

    </div>
  </div>
</div>