<div class="form-area">
  <%= form_with model: @post, local: true do |f|%>
  <div class="post-form">

    <p>
      <%= f.label :"イメージ  " %>
      <%= f.file_field :image %>
    </p>

    <p>
      <%= f.label :"タイトル  " %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :"作品紹介  " %>
      <%= f.text_area :product %>
    </p>

    <p>
      <%= f.label :"リンク先  " %>
      <%= f.text_field :link %>
    </p>

    <p>
      <%= f.label :"タグ      " %>
      <%= f.text_field :tag_name, value: @tag_list %>
    </p>

    <div class="post-btn">
      <%= f.submit "投稿する", class:"btn btn-success" %>
    </div>

    <% end %>
  </div>