<header>
  <nav class="navbar">
    <div class="container">

      <%= link_to root_path do %>
      <%= image_tag 'logo.jpeg', class:"logo-img mr-2" %>
      <% end %>

      <% if user_signed_in? %>
      <%= link_to edit_user_registration_path do %>
      <%= image_tag 'Setting.jpeg', :size =>'50x50' %>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete do %>
      <%= image_tag 'logout.jpeg', :size =>'50x50' %>
      <% end %>

      <%= link_to notifications_path do %>
      <%= image_tag 'Bell.jpeg', :size =>'50x50' %>
      <% end %>

      <%= link_to user_path(current_user) do %>
      <%= image_tag 'Face.jpeg', :size =>'50x50' %>
      <% end %>

      <%= link_to new_post_path(@user) do %>
      <%= image_tag 'Pen.jpeg', :size =>'50x50' %>
      <% end %>

      <% else %>

      <%= link_to new_user_registration_path do %>
      <%= image_tag 'sing_up.jpeg', :size =>'50x50' %>
      <% end %>

      <%= link_to new_user_session_path do %>
      <%= image_tag 'login.jpeg', :size =>'50x50' %>
      <% end %>

      <%= link_to users_guest_sign_in_path, method: :post do %>
      <%= image_tag 'Guest.jpeg', :size =>'50x50' %>
      <% end %>

      <% end %>
    </div>
  </nav>
</header>