<header>
  <nav class="navbar">
    <div class="container">

  <h1>
    <%= link_to "創索-sousaku-", root_path, class: "logo" %>
  </h1>


  <% if user_signed_in? %>

    <div class="mouse">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt fa-2x icon"></i>
        <% end %>
       <span class="word">ログアウト</span>
    </div>

    <div class="mouse">
        <%= link_to notifications_path, remote: true do %>
          <i class="fas fa-bell fa-2x icon"></i>
        <% end %>
       <span class="word">通知</span>
    </div>

    <div class="mouse">
        <%= link_to user_path(current_user), remote: true do %>
          <i class="fas fa-user fa-2x icon"></i>
        <% end %>
       <span class="word">マイページ</span>
    </div>


    <div class="mouse">
        <%= link_to new_post_path(@user), remote: true do %>
          <i class="fas fa-file-signature fa-2x icon"></i>
        <% end %>
       <span class="word">新規投稿</span>
    </div>

  <% else %>

    <div class="mouse">
        <%= link_to  new_user_registration_path, remote: true do %>
          <i class="fas fa-user-plus fa-2x icon"></i>
        <% end  %>
       <span class="word">新規登録</span>
    </div>

    <div class="mouse">
        <%= link_to new_user_session_path, remote: true do %>
          <i class="fas fa-sign-in-alt fa-2x icon"></i>
        <% end  %>
       <span class="word">ログイン</span>
    </div>

    <div class="mouse">
        <%= link_to users_guest_sign_in_path, method: :post do %>
          <i class="fas fa-users fa-2x icon"></i>
        <% end  %>
       <span class="word">ゲストログイン</span>
    </div>

  <% end %>

    </div>
  </nav>
</header>