<header>
  <nav class="navbar">
    <div class="container">
      
  <h1>
    <%= link_to "創索-sousaku-", root_path, class: "logo" %>
  </h1>
      <%= render "layouts/search_form" %>

  <% if user_signed_in? %>

    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-nav' %>
    <%= link_to "通知", notifications_path, remote: true, class: 'btn btn-nav' %>
    <%= link_to "マイページ", user_path(current_user), remote: true, class: 'btn btn-nav' %>
    <%= link_to "新規投稿", new_post_path(@user), remote: true, class: 'btn btn-nav' %>

  <% else %>

     <a class="btn btn-nav" data-toggle="modal" data-target="#signUpModal">新規登録</span></a>
     <a class="btn btn-nav" data-toggle="modal" data-target="#logInModal">ログイン</a>
    <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'btn btn-nav' %>
  
  <% end %>

    </div>
  </nav>
</header>